p {
    font-size: 100px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

dl {

    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

dd {

    font-size: 40px;
    font-family: fantasy;
}